%li.track
  .hd
    .title #{track.pretty_title}
    - if track.author.present?
      .author by #{track.author}
    .recorded_on #{track.recorded_on ? track.recorded_on.to_date.strftime("%m %d %Y") : ''}
  .bd 
    .audio
      %audio{src: track.url, preload: false}

    .description.markup
      %h3 description
      = markup(track.description)
    .tracklist.markup
      %h3 tracks
      = markup(track.playlist)
  .ft
    - unless track.style_list.empty?
      .styles
        %h5 Styles
        = track.style_list.map{|t| content_tag "span", t, class: 'tag'}.join.html_safe
    - unless track.tag_list.empty?
      .tags 
        %h5 Tags
        = track.tag_list.map{|t| content_tag "span", t, class: 'tag'}.join.html_safe
    .download
      %a{href: track.url} 
        %i.icon.icon-download 
        Download          