<h1>Listing tracks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Display title</th>
    <th>Recorded on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.title %></td>
    <td><%= track.display_title %></td>
    <td><%= track.recorded_on.to_date %></td>
    <td><%= link_to 'Show', admin_track_path(track) %></td>
    <td><%= link_to 'Edit', edit_admin_track_path(track) %></td>
    <td><%= link_to 'Destroy', admin_track_path(track), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track', new_admin_track_path %>
