#notice #{notice}

%p
  %b Title
  = @track.title 

%p 
  %b Display Title
  = @track.display_title 

%p 
  %b Recorded on
  = @track.recorded_on.to_date unless @track.recorded_on.blank?

%p 
  %b URL
  #{@track.url}

%p
  %b Tags 
  #{@track.tag_list.join(",")}

%p 
  %b Styles 
  #{@track.style_list.join(",")}

%p
  %b Playlist:
  .content.markup
    = markup @track.playlist

%p
  %b Description:
  .content.markup
    = @track.description 


= link_to 'Edit', edit_admin_track_path(@track) 
|
= link_to 'All Tracks', admin_tracks_path
