<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @track.title %>
</p>

<p>
  <b>Display title:</b>
  <%= @track.display_title %>
</p>

<p>
  <b>Playlist:</b>
  <%= @track.playlist %>
</p>

<p>
  <b>Description:</b>
  <%= @track.description %>
</p>

<p>
  <b>Recorded on:</b>
  <%= @track.recorded_on %>
</p>


<%= link_to 'Edit', edit_admin_track_path(@track) %> |
<%= link_to 'All Tracks', admin_tracks_path %>
