.controls
  = link_to_icon :edit, edit_admin_track_path(@track)
  = link_to_icon :list, admin_tracks_path
%ul.track-info
  %li
    .label Title
    .value
      = @track.title
      = @track.published? ? "(published)" : "(draft)"

  %li
    .label Display Title
    .value
      = @track.display_title

  %li
    .label Author
    .value
      = @track.author

  %li
    .label Recorded on
    .value
      = @track.recorded_on unless @track.recorded_on.blank?

  %li
    .label URL
    .value #{@track.url}

  %li
    .label Tags
    .value #{@track.tag_list.join(",")}

  %li
    .label Styles
    .value #{@track.style_list.join(",")}

  %li
    .label Playlist:
    .value.content.markup
      = markup (@track.playlist || '')

  %li
    .label Description:
    .value.content.markup
      = markup (@track.description || '')

.controls.bottom
  = link_to_icon :edit, edit_admin_track_path(@track)
  = link_to_icon :list, admin_tracks_path
