!!! 5
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=iso-8859-1"}
    %meta{:name => 'description', :content => "Selectors Choice DJ&#39;s - San Francisco - Podcasts - Funk Reggae Rocksteady Soul LoftStyle"}
    %meta{:name => 'keywords', :content => 'Selectors Choice DJ San Francisco Podcasts Funk Reggae Rocksteady Soul LoftStyle'}
    %link{:rel => "icon", :href => "/favicon.ico", :type => 'image/ico' }
    %link{:rel => "icon", :href => "/favicon.png", :type => 'image/png' }
    %title #{@title}
    = csrf_meta_tag
    = stylesheet_link_tag :application, media: :all
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js'
    = javascript_include_tag :application

  %body
    .container
      %header
        = render '/common/nav'

      .main{:id => @current_section}
        = render '/common/flash', flash: flash
        =yield
        .bottom_spacer
    = render '/common/footer'
    
  = render '/common/ga'